.top-section{
    background-image: url("https://i.natgeofe.com/n/7e33fdf8-c549-4cc6-99c2-a66bf6cad079/GettyImages-1778646120.jpg");
    height:30vh;
    background-size: cover;
}
.button{
    border-radius: 5px;
}
.top-text{
    color:white;
    text-align:center;
    font-weight:bold;
    font-family:"caveat";
}
.bottom-section{
    background-color: #e6f6ff;
    display:flex;
    height:70vh;
}
.image{
    height:70px;
    width:70px;
}
.cards{
    text-align:center;
    background-color: white;
    width:150px;
    height:200px;
    border-radius: 20px;;
}